body {
    background-color: #334437;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #520685;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    border-radius: 15px;
    border: #1D4221;
}


.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    /* para a imagem funcionar muda o nome do arquivo para img e Barra /*
    max-width: 90%;
    border-radius: 15px;
}
